
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-1.html" data-project-id="1">
    <div class="project-tmb-pic" style="background-image: url(files/project-1-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="project-tmb-num">+34%</div>
      <div class="project-tmb-go">
        <p>уходимость с&nbsp;полки<br/>за&nbsp;первые полгода<br/>продаж</p>
      </div>
      <div class="h3">Водка &laquo;Бочаров ручей&raquo;</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-2.html" data-project-id="2">
    <div class="project-tmb-pic" style="background-image: url(files/project-2-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="h3">Буги Вуги</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-1.html" data-project-id="3">
    <div class="project-tmb-pic" style="background-image: url(files/project-3-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="project-tmb-num">+34%</div>
      <div class="project-tmb-go">
        <p>уходимость с&nbsp;полки<br/>за&nbsp;первые полгода<br/>продаж</p>
      </div>
      <div class="h3">Масляный Король&reg;</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-2.html" data-project-id="4">
    <div class="project-tmb-pic" style="background-image: url(files/project-4-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="project-tmb-num">+25%</div>
      <div class="project-tmb-go">
        <p>уходимость с&nbsp;полки<br/>за&nbsp;первые полгода<br/>продаж</p>
      </div>
      <div class="h3">Ранчо Мяссури&reg;</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-1.html" data-project-id="5">
    <div class="project-tmb-pic" style="background-image: url(files/project-5-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="project-tmb-num">+30%</div>
      <div class="project-tmb-go">
        <p>уходимость с&nbsp;полки<br/>за&nbsp;первые полгода<br/>продаж</p>
      </div>
      <div class="h3">Русский Масляникъ</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>
<div class="col-12 col-md-6 col-lg-4"><a class="project-tmb" href="load/project-2.html" data-project-id="6">
    <div class="project-tmb-pic" style="background-image: url(files/project-6-tmb.jpg);"></div>
    <div class="project-tmb-descr">
      <div class="h3">Митбург</div>
      <div class="project-tmb-expandable">
        <div class="project-tmb-text">
          <p>Ребрендинг продуктовой линейки в&nbsp;нише товаров здорового питания.</p>
        </div>
        <div class="project-tmb-button">
          <div class="btn-project-more">Смотреть кейс</div>
        </div>
      </div>
    </div></a></div>