
<div class="popup-header">
  <div class="service-popup-header">
    <div class="service-popup-header-pic" style="background-image: url(files/main-slide-1.jpg)"></div>
    <div class="service-popup-header-descr">
      <div class="h2">Разработка отчета о&nbsp;проведении предварительного планирования действий пожарных подразделений</div>
      <div class="features-list">
        <div class="features-tmb">
          <div class="features-tmb-pic"><img src="images/feature-1.svg"/></div>
          <div class="features-tmb-descr">
            <p>Согласование<br/>за&nbsp;45&nbsp;дней</p>
          </div>
        </div>
        <div class="features-tmb">
          <div class="features-tmb-pic"><img src="images/feature-2.svg"/></div>
          <div class="features-tmb-descr">
            <p>Разработка<br/>от&nbsp;14&nbsp;дней</p>
          </div>
        </div>
        <div class="features-tmb">
          <div class="features-tmb-pic"><img src="images/feature-3.svg"/></div>
          <div class="features-tmb-descr">
            <p>Работаем<br/>по&nbsp;всей России</p>
          </div>
        </div>
      </div>
      <div class="main-slider-price">
        <p>от <span>100 000 Р</span></p>
      </div>
      <div class="main-slider-form">
        <form id="mainSliderForm1">
          <div class="row">
            <div class="form-group">
              <label class="placeholder" for="main_slider_1_phone">+7 (___) ___-__-__</label>
              <input class="input-phone" type="text" name="main_slider_1_phone" id="main_slider_1_phone" required="required"/>
            </div>
            <div class="form-footer">
              <button class="btn btn-1 btn-small" type="submit"><span>Отправить</span></button>
            </div>
          </div>
          <div class="form-agree">
            <p>Нажимая кнопку «Отправить», Вы даете свое с&nbsp;<a href="#">политикой конфиденциальности</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="popup-body service-popup-body">
  <div class="popup-body-inner">
    <div class="h3">Преимущества</div>
    <div class="pros-list">
      <div class="row">
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-1.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Приятный и отзывчивый сервис с индивидуальным подходом к кажому клиенту</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-2.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Знание и соблюдение стандартов противопожарной защиты и строительных норм</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-3.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Наличие всех необходимых лицензий</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-4.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Монтаж системы в удобное для Вас время</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-5.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Квалифицированный персонал</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="pros-tmb">
            <div class="pros-tmb-pic"><img src="images/pros-ico-6.svg"/></div>
            <div class="pros-tmb-descr">
              <div class="pros-tmb-descr-inner">
                <p>Соблюдение нормативной документации</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h3">Описание услуги</div>
    <p>Специальные технические условия (СТУ) – это технические нормы, в которых содержатся требования в области безопасности, дополняющие существующие правила. Применяются они на всех стадиях строительства объекта: проектирования, собственно возведения, дальнейшей эксплуатации либо сноса (демонтажа).</p>
    <p>Также СТУ разрабатываются в случае отступлений от требований. Это специальный документ, устанавливающий индивидуальные требования пожарной безопасности для определенного объекта, учитывая его особенности и существующие дополнительные организационные и инженерно-технические мероприятия для защиты здания.</p>
    <p>Вся специфика обеспечения пожарной безопасности нестандартных объектов должна в полной мере отражаться в специальных технических  условиях.</p>
    <div class="blockquote">
      <div class="blockquote-text">
        <p>«В «ВРТ Групп» мы гордимся тем, что предлагаем полный сервис, используя проектные группы для управления каждым проектом, чтобы обеспечить своевременное выполнение работ в соответствии со спецификациями проекта. Мы заинтересованы построить долгосрочное, продолжающееся отношение с каждым из наших клиентов»</p>
      </div>
      <div class="blockquote-author">
        <div class="blockquote-author-pic"><img src="files/blockquote-author.jpg"/></div>
        <div class="blockquote-author-name">
          <div class="name">Антон Бруханов</div>
          <div class="post">руководитель проектной группы</div>
        </div>
      </div>
    </div>
    <p>Специальные технические условия (СТУ) – это документ, разработанный для конкретного объекта капитального строительства и содержащий дополнительные к установленным или отсутствующие технические требования в области пожарной безопасности.</p>
    <p>Разработка СТУ осуществляется при проектировании уникальных объектов для которых отсутствуют нормы пожарной безопасности, а также в случаях отступления от существующих норм и невозможности приведения существующих объектов в соответствие требованиям пожарной безопасности.</p>
    <div class="h3">Цикл работ</div>
    <div class="stages-list">
      <div class="row">
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-1.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">01</div>
                <div class="h3">Аудит объекта и документации</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-2.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">02</div>
                <div class="h3">Консультация с надзорными органами</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-3.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">03</div>
                <div class="h3">Оценка объекта требованиям ПБ</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-4.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">04</div>
                <div class="h3">Разработка СТУ с учетом технических решений</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-5.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">05</div>
                <div class="h3">Согласование СТУ в МЧС</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="stage-tmb">
            <div class="stage-tmb-pic"><img src="files/stage-6.jpg"/></div>
            <div class="stage-tmb-descr">
              <div class="stage-tmb-descr-inner">
                <div class="stage-tmb-num">06</div>
                <div class="h3">Передача согласованных СТУ заказчику</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h3">Работаем с объектами</div>
    <div class="objects-list">
      <div class="row">
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-1.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Административно-деловые центры</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-2.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Жилые помещения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-3.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Торгово-развлекательные центры</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-4.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Учебные заведения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-5.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Учреждения здравоохранения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-6.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Спортивные сооружения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-7.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Складские помещения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-8.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Производственные помещения</div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <div class="object-tmb">
            <div class="object-tmb-pic" style="background-image: url(files/object-9.jpg);"></div>
            <div class="object-tmb-descr">
              <div class="h3">Культурно-исторические здания</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-section popup-section-result">
      <div class="popup-section-content">
        <div class="h3">Результат</div>
        <div class="popup-text-lead">
          <p>СТУ разрабатываются в случае отступлений от требований. Это специальный документ, устанавливающий индивидуальные требования пожарной безопасности для определенного объекта, учитывая его особенности и существующие дополнительные организационные и инженерно-технические мероприятия для защиты здания.</p>
        </div>
      </div>
    </div>
    <div class="h3">Смотрите также проекты</div>
    <div class="projects-list">
      <div class="row">
        <div class="col-12 col-md-6"><a class="project-tmb" href="load/project-1.html">
            <div class="project-tmb-pic" style="background-image: url(files/project-1-tmb.jpg);"></div>
            <div class="project-tmb-descr">
              <div class="h3">Обеспечение пожарной безопасности на&nbsp;корпоративном мероприятии</div>
              <div class="project-tmb-address">
                <p>Москва, ул.&nbsp;Нагорная, 15, корп&nbsp;4, офис&nbsp;47</p>
              </div>
            </div>
            <div class="project-tmb-logo"><img src="files/client-logo-1.png"/></div>
            <div class="project-tmb-button">
              <div class="btn btn-1 btn-project-more"><span>Смотреть</span></div>
            </div></a></div>
        <div class="col-12 col-md-6"><a class="project-tmb" href="load/project-1.html">
            <div class="project-tmb-pic" style="background-image: url(files/project-2-tmb.jpg);"></div>
            <div class="project-tmb-descr">
              <div class="h3">Обеспечение пожарной безопасности на&nbsp;корпоративном мероприятии</div>
              <div class="project-tmb-address">
                <p>Москва, ул.&nbsp;Нагорная, 15, корп&nbsp;4, офис&nbsp;47</p>
              </div>
            </div>
            <div class="project-tmb-logo"><img src="files/client-logo-2.png"/></div>
            <div class="project-tmb-button">
              <div class="btn btn-1 btn-project-more"><span>Смотреть</span></div>
            </div></a></div>
      </div>
    </div>
    <div class="popup-section popup-section-consult">
      <div class="section-content">
        <div class="row">
          <div class="col-l">
            <div class="section-header">
              <div class="h2">Заказать консультацию</div>
            </div>
          </div>
          <div class="col-r">
            <div class="consult-form">
              <div class="consult-form-inner">
                <form id="consultForm">
                  <div class="row">
                    <div class="form-group">
                      <label class="placeholder" for="consult_phone">+7 (___) ___-__-__</label>
                      <input class="input-phone" type="text" name="consult_phone" id="consult_phone" required="required"/>
                    </div>
                    <div class="form-footer">
                      <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                    </div>
                    <div class="form-agree">
                      <p>Нажимая кнопку «Отправить», Вы даете свое с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>