<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Gentelmen's Moving Company</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="js/bootstrap-fileinput/css/fileinput-rtl.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="js/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
  </head>
  <body>
    <div class="up-link"></div>
    <div class="over-wrapper">
      <div id="mobile-indicator"></div>
      <div id="sm-indicator"></div>
      <header><a name="top"></a>
        <div class="header-content">
          <div class="header-content-inner">
            <div class="header-top">
              <div class="container">
                <div class="navbar-trigger"><span></span><span></span><span></span></div>
                <div class="navbar-wrapper">
                  <div class="close"></div>
                  <ul class="nav navbar-nav">
                    <li><a href="#"><span>Services</span></a></li>
                    <li><a href="#"><span>Rates</span></a></li>
                    <li><a href="#"><span>About</span></a></li>
                    <li><a href="#"><span>Reviews</span></a></li>
                    <li><a href="#"><span>Blog</span></a></li>
                    <li><a href="#"><span>FAQ</span></a></li>
                    <li><a href="#"><span>Contacts</span></a></li>
                    <li><a class="active" href="#"><span>Reservation</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-bottom">
              <div class="container">
                <div class="row">
                  <div class="header-col-1">
                    <div class="row">
                      <div class="header-logo"><a href="/"><img src="images/logo-inner.png" alt="Gentlemen's Moving Company"></a></div>
                      <div class="header-text">
                        <p>fully licensed and insured company:<br>MTR0191476, US DOT 2399435</p>
                      </div>
                    </div>
                  </div>
                  <div class="header-col-2">
                    <div class="row">
                      <div class="header-location"><a class="btn-header-location" href="#" data-location-popup=".location-suggest-popup"><span>California, Los Angeles</span></a>
                        <div class="location-popup location-suggest-popup">
                          <div class="popup-dialog">
                            <div class="popup-content">
                              <div class="close close-popup"></div>
                              <div class="location-suggest-name"><span>California, Los Angeles</span></div>
                              <div class="location-suggest-buttons">
                                <div class="btn btn-1 btn-location-yes close-popup">Yes</div>
                                <div class="btn btn-2 btn-location-choose" data-location-popup=".location-choice-popup">Regions choice</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="location-popup location-choice-popup">
                          <div class="popup-dialog">
                            <div class="popup-content">
                              <div class="close"></div>
                              <div class="search-form geo-search-form">
                                <form>
                                  <div class="form-group">
                                    <input type="text" name="geo_search" id="geo_search" placeholder="Search">
                                    <div class="btn-search">Search</div>
                                  </div>
                                  <div class="geo-suggest-popup">
                                    <div class="suggest-items-list-wrapper">
                                      <div class="suggest-items-list"></div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="header-phone"><a class="btn-header-phone" href="tel:877-613-5576"><span>877-613-5576</span></a></div>
                    </div>
                  </div>
                  <div class="header-col-3">
                    <div class="header-button"><a class="btn btn-1" href="#" data-toggle="modal" data-target="#quoteModal">Request a quote now</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-bottom-mob d-block d-md-none">
              <div class="row">
                <div class="col-6"><a class="btn btn-2" href="tel:877-613-5576">Call</a></div>
                <div class="col-6"><a class="btn btn-1" href="#" data-toggle="modal" data-target="#quoteModal">Get a quote</a></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="main">
        <div class="page-wrapper">
          <div class="page-header" style="background-image: url(files/header-bg-text.jpg);">
            <div class="page-header-inner">
              <div class="container">
                <ul class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li>Top 10 things People Forget to Do When Moving</li>
                </ul>
                <h1>Top 10 things People Forget to Do When Moving</h1>
                <div class="article-date">
                  <p>12.09.2019</p>
                </div>
              </div>
            </div>
          </div>
          <div class="page-body">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-8">
                  <div class="page-content">
                    <div class="article-pic article-pic-top"><img src="files/article-pic-1.jpg"></div>
                    <div class="article-lead">
                      <p>Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</p>
                    </div>
                    <div class="h2">Local moves</div>
                    <div class="article-block">
                      <div class="article-pic article-pic-r"><img src="files/article-pic-2.jpg">
                        <div class="article-pic-caption">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                      </div>
                      <p>Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</p>
                      <p>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</p>
                      <p>Hire our professional packers prior your move, we will help you organize your belonging and prepare it for the move. Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</p>
                    </div>
                    <div class="article-block">
                      <div class="article-pic article-pic-l"><img src="files/article-pic-3.jpg"></div>
                      <p>Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</p>
                      <p>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</p>
                    </div>
                    <div class="h3">Local moves</div>
                    <div class="photo-gallery">
                      <div class="photo-gallery-slider">
                        <div class="slide">
                          <div class="slide-pic"><img src="files/article-pic-4.jpg"></div>
                          <div class="slide-caption">
                            <p>Crew of the year 2019</p>
                          </div>
                        </div>
                        <div class="slide">
                          <div class="slide-pic"><img src="files/article-pic-1.jpg"></div>
                          <div class="slide-caption">
                            <p>Second slide</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul>
                      <li>Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</li>
                      <li>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</li>
                      <li>Hire our professional packers prior your move, we will help you organize your belonging and prepare it for the move. We provide high quality packaging materials: wardrobe boxes, kitchen paper, shrink wrap, tape, moving boxes and much more. Our professional packers crew will make sure your belongings packed well and travel safe.</li>
                    </ul>
                    <blockquote>
                      <div class="blockquote-author">
                        <div class="blockquote-author-pic"><img src="files/blockquote-author.jpg"></div>
                        <div class="blockquote-author-descr">
                          <div class="blockquote-author-name">
                            <p>Aleh Кonstantinopolsky</p>
                          </div>
                          <div class="blockquote-author-post">
                            <p>Los Angeles, CA</p>
                          </div>
                        </div>
                      </div>
                      <div class="blockquote-text">
                        <p>Gentlemen's Moving Company has been in the moving business since 2009, and has always used the latest technology in moving to ensure complete satisfaction to their consumers and provide the safest and most reliable service possible.</p>
                        <p>Gentlemen's Moving provides various size trucks with all necessary moving equipment required to complete any type of moving job.</p>
                      </div>
                    </blockquote>
                    <div class="h4">Local moves</div>
                    <ol>
                      <li>Whether you are looking to move your entire house or just a few pieces, Gentlemen Movers is a Company that takes pride in being professional and providing the most affordable service. Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</li>
                      <li>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</li>
                      <li>Hire our professional packers prior your move, we will help you organize your belonging and prepare it for the move.
                        <ol>
                          <li>We provide high quality packaging materials: wardrobe boxes, kitchen paper, shrink wrap, tape, moving boxes and much more.</li>
                          <li>Our professional packers crew will make sure your belongings packed well and travel safe.</li>
                        </ol>
                      </li>
                    </ol>
                    <div class="h4">Gentelmen’s moving company</div>
                    <div class="article-block">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="article-pic"><img src="files/article-pic-5.jpg"></div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="h5">Moving company</div>
                          <ul class="ul-alt">
                            <li>Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</li>
                            <li>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</li>
                            <li>Hire our professional packers prior your move.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="article-block">
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="h5">Moving company</div>
                          <ul class="ul-alt">
                            <li>Moving, packing,  storing is what we do, and our first priority is to satisfy  our customers.</li>
                            <li>We are a full-service moving company: that means, once you hire us to move your belongings, you can rest at peace that everything will be handled safely, completely, and to your satisfaction.</li>
                          </ul>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="article-pic"><img src="files/article-pic-6.jpg"></div>
                        </div>
                      </div>
                    </div>
                    <div class="h4">Gentelmen’s moving company</div>
                    <table>
                      <tr>
                        <th>Service name</th>
                        <th>Price</th>
                        <th>Price</th>
                      </tr>
                      <tr>
                        <td>
                          <p>Cross country moving</p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Cross country moving</p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Cross country moving</p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Cross country moving</p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                        <td>
                          <p><strong>$ 300</strong></p>
                        </td>
                      </tr>
                    </table>
                    <div class="h5">Documents</div>
                    <div class="docs-list">
                      <div class="row">
                        <div class="col-12 col-md-6"><a class="doc-tmb" href="#">
                            <div class="doc-tmb-pic">
                              <div class="doc-tmb-pic-inner">
                                <div class="doc-tmb-ico"><img src="images/ico-pdf.png"></div>
                                <div class="doc-tmb-format">PDF</div>
                              </div>
                            </div>
                            <div class="doc-tmb-descr">
                              <div class="doc-tmb-name">
                                <p>Document name</p>
                              </div>
                              <div class="doc-tmb-dl">
                                <div class="dl-link"><span>Download</span></div>
                              </div>
                            </div></a></div>
                        <div class="col-12 col-md-6"><a class="doc-tmb" href="#">
                            <div class="doc-tmb-pic">
                              <div class="doc-tmb-pic-inner">
                                <div class="doc-tmb-ico"><img src="images/ico-pdf.png"></div>
                                <div class="doc-tmb-format">DOC</div>
                              </div>
                            </div>
                            <div class="doc-tmb-descr">
                              <div class="doc-tmb-name">
                                <p>Длинный заголовок документа для скачивания</p>
                              </div>
                              <div class="doc-tmb-dl">
                                <div class="dl-link"><span>Download</span></div>
                              </div>
                            </div></a></div>
                      </div>
                    </div>
                    <div class="article-share-links">
                      <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                      <script src="https://yastatic.net/share2/share.js"></script>
                      <div class="ya-share2" data-services="facebook,twitter"></div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="page-sidebar">
                    <div class="form-placeholder-mob d-block d-md-none">
                      <div class="form-placeholder-mob-inner">
                        <div class="h3">Request a&nbsp;Quote Now</div>
                        <div class="btn btn-2 open-popup" data-popup="#formPopup"><span>Get started</span></div>
                      </div>
                    </div>
                    <div class="popup popup-mob form-popup" id="formPopup">
                      <div class="popup-dialog">
                        <div class="popup-content">
                          <div class="close"></div>
                          <div class="top-form top-form-alt">
                            <div class="h3">Request a&nbsp;Quote Now</div>
                            <form>
                              <div class="top-form-content">
                                <div class="top-form-nav-wrapper">
                                  <ul class="top-form-nav">
                                    <li class="active">Step 1</li>
                                    <li>Step 2</li>
                                  </ul>
                                </div>
                                <div class="top-form-slider">
                                  <div class="slide">
                                    <div class="row">
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_from">From</label>
                                          <input type="text" name="quote_from" id="quote_from" placeholder="City or zip code" required>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_to">To</label>
                                          <input type="text" name="quote_to" id="quote_to" placeholder="City or zip code" required>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_size">Home size</label>
                                          <select name="quote_size" id="quote_size" title="--" required>
                                            <option value="1">Studio</option>
                                            <option value="2">1 bedroom</option>
                                            <option value="3">2 bedroom</option>
                                            <option value="4">3 bedroom</option>
                                            <option value="5">4 bedroom</option>
                                            <option value="6">Commercial</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_date">Date</label>
                                          <input class="input-date" type="text" name="quote_date" id="quote_date" placeholder="mm/dd/yy" required>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-footer">
                                      <div class="btn btn-2 btn-fwd">Get Started</div>
                                    </div>
                                  </div>
                                  <div class="slide">
                                    <div class="row">
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_name">Name</label>
                                          <input type="text" name="quote_name" id="quote_name" placeholder="your name" required>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_how">How did you hear about us</label>
                                          <select name="quote_how" id="quote_how" title="Select" required>
                                            <option value="1">friends said</option>
                                            <option value="2">found on the internet</option>
                                            <option value="3">saw an ad</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_phone">Phone number</label>
                                          <input class="input-phone" type="text" name="quote_phone" id="quote_phone" placeholder="(000) 000-0000" required>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-6 col-lg-12">
                                        <div class="form-group">
                                          <label for="quote_email">E-mail</label>
                                          <input type="email" name="quote_email" id="quote_email" placeholder="your mail" required>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-footer">
                                      <button class="btn btn-2" type="submit">Get a Quote Now</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <div class="top-form-bottom">
                              <div class="top-form-policy"><a href="#">Privacy Policy</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="h3">Читайте также</div>
                    <div class="articles-list">
                      <div class="sidebar-articles-list"><a class="article-tmb" href="#">
                          <div class="article-tmb-pic"><img src="files/sidebar-article-tmb-1.jpg"></div>
                          <div class="article-tmb-descr">
                            <div class="article-tmb-date">12.09.2019</div>
                            <div class="h3">GMS is dedicated to helping you every step of the way</div>
                            <div class="more-arrow"></div>
                          </div></a><a class="article-tmb" href="#">
                          <div class="article-tmb-pic"><img src="files/sidebar-article-tmb-2.jpg"></div>
                          <div class="article-tmb-descr">
                            <div class="article-tmb-date">12.09.2019</div>
                            <div class="h3">GMS is dedicated to helping you every step of the way</div>
                            <div class="more-arrow"></div>
                          </div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-content">
          <div class="container">
            <div class="row">
              <div class="footer-col-1">
                <div class="footer-logo"><img src="images/footer-logo.png"></div>
                <div class="footer-text">
                  <p>Our license number is<br>MTR0191103   US DOT 2399435</p>
                </div>
                <div class="footer-privacy"><a href="#">Privacy policy</a></div>
              </div>
              <div class="footer-col-2">
                <div class="h3">Regions</div>
                <ul class="footer-menu">
                  <li><a href="#">California</a></li>
                  <li><a href="#">Washington</a></li>
                  <li><a href="#">Oregon</a></li>
                </ul>
              </div>
              <div class="footer-col-3">
                <div class="h3">Connect with us</div>
                <div class="footer-soclinks"><a class="footer-soclink footer-soclink-fb" href="#"></a><a class="footer-soclink footer-soclink-instagram" href="#"></a></div>
              </div>
              <div class="footer-col-4">
                <div class="h3">Share with us</div>
                <div class="footer-share">
                  <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                  <script src="https://yastatic.net/share2/share.js"></script>
                  <div class="ya-share2" data-services="facebook,twitter"></div>
                </div>
              </div>
              <div class="footer-col-5">
                <div class="footer-copy">
                  <p>Copyright &copy;<br>Gentlemen Moving Services INC.<br>GMS<sup class="reg">&reg;</sup></p>
                </div>
                <div class="footer-dev-wrapper"><a class="footer-dev" href="#" alt="Renaissance Art Group">Site development in <br><span>Renaissance Art Group</span></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="modal fade form-modal quote-modal" id="quoteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Request a Quote Now</div>
            </div>
            <div class="modal-body">
              <div class="quote-form modal-form">
                <form id="quoteModalForm">
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_from">From</label>
                        <input type="text" name="quote_modal_from" id="quote_modal_from" placeholder="City or zip code" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_to">To</label>
                        <input type="text" name="quote_modal_to" id="quote_modal_to" placeholder="City or zip code" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_size">Home size</label>
                        <select name="quote_modal_size" id="quote_modal_size" title="--" required>
                          <option value="1">Studio</option>
                          <option value="2">1 bedroom</option>
                          <option value="3">2 bedroom</option>
                          <option value="4">3 bedroom</option>
                          <option value="5">4 bedroom</option>
                          <option value="6">Commercial</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_date">Date</label>
                        <input class="input-date" type="text" name="quote_modal_date" id="quote_modal_date" placeholder="mm/dd/yy" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_name">Name</label>
                        <input type="text" name="quote_modal_name" id="quote_modal_name" placeholder="your name" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_how">How did you hear about us</label>
                        <select name="quote_modal_how" id="quote_modal_how" title="Select" required>
                          <option value="1">friends said</option>
                          <option value="2">found on the internet</option>
                          <option value="3">saw an ad</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_phone">Phone number</label>
                        <input class="input-phone" type="text" name="quote_modal_phone" id="quote_modal_phone" placeholder="(000) 000-0000" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                      <div class="form-group">
                        <label for="quote_modal_email">E-mail</label>
                        <input type="email" name="quote_modal_email" id="quote_modal_email" placeholder="your mail" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="quote_modal_message">Message</label>
                        <textarea class="textarea-autogrow" name="quote_modal_message" id="quote_modal_message" rows="1" placeholder="your message"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2" type="submit">Get started</button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="top-form-policy"><a href="#">Privacy Policy</a></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal callback-modal" id="callbackModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2">Заказать звонок</div>
            </div>
            <div class="modal-body">
              <p>Оставьте свои данные и&nbsp;наш специалист свяжется с&nbsp;вами в&nbsp;течение 15&nbsp;минут</p>
              <div class="modal-form callback-form">
                <form>
                  <div class="form-group">
                    <label class="placeholder" for="callback_name">Ваше имя</label>
                    <input type="text" name="callback_name" id="callback_name" required>
                  </div>
                  <div class="form-group">
                    <label class="placeholder" for="callback_phone">+7 (___) ___-__-__</label>
                    <input class="input-phone" type="text" name="callback_phone" id="callback_phone" required>
                  </div>
                  <div class="form-footer">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <button class="btn btn-2 btn-small" type="submit"><span>Отправить</span></button>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-agree">
                          <p>Нажимая кнопку «Отправить», Вы даете свое согласие с&nbsp;<a href="#">политикой конфиденциальности</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade client-modal" id="clientModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
      <div class="modal fade form-modal success-modal" id="successModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header">
              <div class="h2"><span>Ваша заявка успешно принята!</span></div>
            </div>
            <div class="modal-body">
              <div class="text">
                <p>Перезвоним в течение 15 минут</p>
              </div>
              <div class="success-modal-button">
                <button class="btn btn-1" type="button" data-dismiss="modal" aria-label="Close">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/additional-methods.min.js"></script>
      <script src="js/jquery.maskedinput.min.js"></script>
      <script src="js/wNumb.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/fancybox/jquery.fancybox.min.js"></script>
      <script src="js/greensock/TweenMax.min.js"></script>
      <script src="js/greensock/plugins/CSSRulePlugin.min.js"></script>
      <script src="js/greensock/plugins/ScrollToPlugin.min.js"></script>
      <script src="js/iscroll-probe.js"></script>
      <script src="js/scrollmagic/ScrollMagic.min.js"></script>
      <script src="js/scrollmagic/plugins/animation.gsap.min.js"></script>
      <script src="js/bootstrap-fileinput/js/fileinput.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="js/animations.js"></script>
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <script src="js/geo.js"></script>
      <script src="js/main.js"></script>
    </div>
  </body>
</html>